/workspace/.metadata/
/workspace/RemoteSystemsTempFiles/
/workspace/Servers/
/workspace/manager/.settings/
/workspace/manager/target/
/workspace/manager/WebContent/

#*.classpath
#*.project
*.jar
*.class
workspace/manager/logs/ssm.log
*.log
*.MF
workspace/manager/src/main/webapp/WEB-INF/web.xml
~$网络交易前后端接口文档.docx
workspace/manager/.classpath
workspace/manager/.classpath
workspace/manager/.classpath
workspace/manager/src/main/resources/config/jdbc.properties
workspace/manager/src/main/resources/config/jdbc.properties
workspace/manager/.classpath
workspace/manager/src/main/resources/config/jdbc.properties
小易网络交易前后端接口文档.docx
*.docx
workspace/manager/.classpath
