<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="false">


	<!-- 定义目标bean和bean中的方法 -->
	<!-- =====================日常任务job========================== -->
	<bean id="MyTask" class="com.xiaoyi.common.service.impl.WechatServiceImpl" />
	<bean id="MyTaskMethod"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="MyTask" />
		</property>
		<property name="targetMethod">  <!-- 要执行的方法名称 -->
			<value>sendQuarzMsg</value>
		</property>
	</bean>

	<bean id="MyTask2" class="com.xiaoyi.manager.service.impl.AccountServiceImpl" />
	<bean id="MyTaskMethod2"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="MyTask2" />
		</property>
		<property name="targetMethod">  <!-- 要执行的方法名称 -->
			<value>sendNotEnoughLessonQuarzMsgToCustom</value>
		</property>
	</bean>

	<!-- ======================== 调度触发器 ======================== -->
	<!-- 更新提现状态 -->
	<bean id="DailyTaskCronTriggerBean"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="MyTaskMethod" />
		<!-- 每天一点出发一次 -->
		<!-- <property name="cronExpression" value="0 0 1 * * ?" /> -->
		<!-- 每个月10-15号凌晨1点触发 -->
		<property name="cronExpression" value="0 0 1 10-15 * ?"></property>
	</bean>

	<!-- 每月十五号发送课时不足提醒消息 -->
	<bean id="DailyTaskCronTriggerBean2"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="MyTaskMethod2" />
		<!-- 每个月15号凌晨1点触发 -->
		<property name="cronExpression" value="0 0 1 15 * ?"></property>
	</bean>

	<!-- ======================== 调度工厂 ======================== -->
	<bean id="SpringJobSchedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="DailyTaskCronTriggerBean" />
				<ref bean="DailyTaskCronTriggerBean2" />
			</list>
		</property>
		<property name="quartzProperties"> 
			<props>
				<!-- 不更新 -->
				<prop key="org.quartz.scheduler.skipUpdateCheck">true</prop> 
			</props>
		</property>
	</bean>


</beans>