<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyi.manager.dao.ILessonTypeDao" >
	<resultMap id="BaseResultMap" type="com.xiaoyi.manager.domain.LessonType">
		<id column="courseCnt" property="coursecnt" jdbcType="SMALLINT" />
		<id column="lessonType" property="lessontype" jdbcType="INTEGER" />
		<id column="lessonId" property="lessonId" jdbcType="VARCHAR" />
		<result column="teachingWay" property="teachingway" jdbcType="TINYINT" />
		<result column="gradeId" property="gradeid" jdbcType="SMALLINT" />
		<result column="lessonPrice" property="lessonprice" jdbcType="REAL" />
		<result column="lessonName" property="lessonname" jdbcType="VARCHAR" />
		<result column="gradeName" property="gradename" jdbcType="VARCHAR" />
		<result column="needBook" property="needbook" jdbcType="BIT" />
		<result column="discountPrice" property="discountprice"
			jdbcType="REAL" />
		<result column="isholiday" property="isholiday" jdbcType="TINYINT" />
		<result column="singleCoursePrice" property="singlecourseprice"
			jdbcType="REAL" />
	</resultMap>
	<sql id="Base_Column_List">
		lessonId,courseCnt, lessonType, teachingWay, gradeId, lessonPrice,
		lessonName, gradeName,
		needBook, discountPrice, isholiday,
		singleCoursePrice
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="com.xiaoyi.manager.domain.LessonTypeKey">
		select
		<include refid="Base_Column_List" />
		from lessontype
		<where>
			<if test="lessonId!=null">
				lessonId = #{lessonId,jdbcType=VARCHAR}
			</if>
			<if test="coursecnt!=null">
				courseCnt = #{coursecnt,jdbcType=SMALLINT}
			</if>
			<if test="lessontype!=null">
				and lessonType = #{lessontype,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="com.xiaoyi.manager.domain.LessonTypeKey">
		delete from
		lessontype
		where courseCnt = #{coursecnt,jdbcType=SMALLINT}
		and
		lessonType = #{lessontype,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.manager.domain.LessonType">
		insert into lessontype
		(lessonId,courseCnt, lessonType, teachingWay,
		gradeId, lessonPrice, lessonName,
		gradeName, needBook, discountPrice,
		isholiday, singleCoursePrice)
		values (#{lessonId,jdbcType=VARCHAR},
		#{coursecnt,jdbcType=SMALLINT},
		#{lessontype,jdbcType=INTEGER},
		#{teachingway,jdbcType=TINYINT},
		#{gradeid,jdbcType=SMALLINT}, #{lessonprice,jdbcType=REAL},
		#{lessonname,jdbcType=VARCHAR},
		#{gradename,jdbcType=VARCHAR},
		#{needbook,jdbcType=BIT},
		#{discountprice,jdbcType=REAL},
		#{isholiday,jdbcType=TINYINT}, #{singlecourseprice,jdbcType=REAL})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.manager.domain.LessonType">
		insert into lessontype
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="lessonId != null">
				lessonId,
			</if>
			<if test="coursecnt != null">
				courseCnt,
			</if>
			<if test="lessontype != null">
				lessonType,
			</if>
			<if test="teachingway != null">
				teachingWay,
			</if>
			<if test="gradeid != null">
				gradeId,
			</if>
			<if test="lessonprice != null">
				lessonPrice,
			</if>
			<if test="lessonname != null">
				lessonName,
			</if>
			<if test="gradename != null">
				gradeName,
			</if>
			<if test="needbook != null">
				needBook,
			</if>
			<if test="discountprice != null">
				discountPrice,
			</if>
			<if test="isholiday != null">
				isholiday,
			</if>
			<if test="singlecourseprice != null">
				singleCoursePrice,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="lessonId != null">
				#{lessonId,jdbcType=VARCHAR},
			</if>
			<if test="coursecnt != null">
				#{coursecnt,jdbcType=SMALLINT},
			</if>
			<if test="lessontype != null">
				#{lessontype,jdbcType=INTEGER},
			</if>
			<if test="teachingway != null">
				#{teachingway,jdbcType=TINYINT},
			</if>
			<if test="gradeid != null">
				#{gradeid,jdbcType=SMALLINT},
			</if>
			<if test="lessonprice != null">
				#{lessonprice,jdbcType=REAL},
			</if>
			<if test="lessonname != null">
				#{lessonname,jdbcType=VARCHAR},
			</if>
			<if test="gradename != null">
				#{gradename,jdbcType=VARCHAR},
			</if>
			<if test="needbook != null">
				#{needbook,jdbcType=BIT},
			</if>
			<if test="discountprice != null">
				#{discountprice,jdbcType=REAL},
			</if>
			<if test="isholiday != null">
				#{isholiday,jdbcType=TINYINT},
			</if>
			<if test="singlecourseprice != null">
				#{singlecourseprice,jdbcType=REAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.manager.domain.LessonType">
		update lessontype
		<set>
			<if test="teachingway != null">
				teachingWay = #{teachingway,jdbcType=TINYINT},
			</if>
			<if test="gradeid != null">
				gradeId = #{gradeid,jdbcType=SMALLINT},
			</if>
			<if test="lessonprice != null">
				lessonPrice = #{lessonprice,jdbcType=REAL},
			</if>
			<if test="lessonname != null">
				lessonName = #{lessonname,jdbcType=VARCHAR},
			</if>
			<if test="gradename != null">
				gradeName = #{gradename,jdbcType=VARCHAR},
			</if>
			<if test="needbook != null">
				needBook = #{needbook,jdbcType=BIT},
			</if>
			<if test="discountprice != null">
				discountPrice = #{discountprice,jdbcType=REAL},
			</if>
			<if test="isholiday != null">
				isholiday = #{isholiday,jdbcType=TINYINT},
			</if>
			<if test="singlecourseprice != null">
				singleCoursePrice = #{singlecourseprice,jdbcType=REAL},
			</if>
		</set>
		where courseCnt = #{coursecnt,jdbcType=SMALLINT}
		and lessonType =
		#{lessontype,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.manager.domain.LessonType">
		update lessontype
		set teachingWay = #{teachingway,jdbcType=TINYINT},
		gradeId =
		#{gradeid,jdbcType=SMALLINT},
		lessonPrice =
		#{lessonprice,jdbcType=REAL},
		lessonName =
		#{lessonname,jdbcType=VARCHAR},
		gradeName =
		#{gradename,jdbcType=VARCHAR},
		needBook = #{needbook,jdbcType=BIT},
		discountPrice = #{discountprice,jdbcType=REAL},
		isholiday =
		#{isholiday,jdbcType=TINYINT},
		singleCoursePrice =
		#{singlecourseprice,jdbcType=REAL}
		where courseCnt =
		#{coursecnt,jdbcType=SMALLINT}
		and lessonType =
		#{lessontype,jdbcType=INTEGER}
	</update>
	<select id="selectByParams" resultMap="BaseResultMap"
		parameterType="hashmap">
		select
		<include refid="Base_Column_List" />
		from lessontype
		<where>
			<if test="lessonId!=null">
				lessonId = #{lessonId,jdbcType=VARCHAR}
			</if>
			<if test="lessonType!=null">
				AND lessonType = #{lessontype,jdbcType=INTEGER}
			</if>
			<if test="teachingWay!=null">
				<if test="teachingWay==0">
					teachingWay = 0
				</if> 
				<if test="teachingWay==1">
					teachingWay = 1
				</if>
				<if test="teachingWay==2">
					teachingWay=2
				</if>
			</if>
		</where>
	</select>

</mapper>