<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyi.manager.dao.IOTRelationDao" >
	
	<!-- 删除订单-任教关系 -->
	<delete id="deleteOTRelations" parameterType="hashmap">
		DELETE FROM order_teaching_r 
		WHERE orderId=#{orderId}	
		<!-- 指定单个教学任务 -->
		<if test="courseId!=null">
			and lessonType = #{courseId}			
		</if>
		<!-- 指定单个教学任务 -->
		<if test="teacherId!=null">
			and teacherId = #{teacherId}	
		</if>
	</delete>
	
	<!-- 插入订单-任教关系 -->
	<insert id="insertOTRelations" parameterType="java.util.List">
		INSERT INTO order_teaching_r(teachingId,orderId,lessonType,parentId,memberId,teacherId)
		VALUES
		<foreach collection="list" item="item"  separator=",">
			(#{item.teachingId},#{item.orderId},#{item.lessonType},#{item.parentId},#{item.memberId},#{item.teacherId})
		</foreach>
	</insert>
	
	<select id="selectOTRelationsByOrderId" parameterType="java.lang.String" 
		resultType="com.xiaoyi.manager.domain.OrderTeachingRelation">
		SELECT *FROM order_teaching_r
		WHERE orderId=#{orderId}	
	</select>
	
	<select id="selectOTRelationsByParams" parameterType="hashmap"
		resultType="com.xiaoyi.manager.domain.OrderTeachingRelation">
		SELECT *
		FROM order_teaching_r
		<where>
			<if test="orderId!=null">
				orderId=#{orderId}
			</if>
			<if test="teacherId!=null">
				and teacherId = #{teacherId}
			</if>
			<if test="courseId!=null">
				and lessonType = #{courseId}
			</if>
		</where>	 	
	</select>
</mapper>