<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyi.manager.dao.IScheduleDao" >
  <resultMap id="BaseResultMap" type="com.xiaoyi.manager.domain.Schedule" >
    <id column="scheduleId" property="scheduleid" jdbcType="VARCHAR" />
    <result column="teacherId" property="teacherid" jdbcType="VARCHAR" />
    <result column="memberId" property="memberid" jdbcType="VARCHAR" />
    <result column="parentId" property="parentid" jdbcType="VARCHAR" />
    <result column="lessonType" property="lessontype" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    scheduleId, teacherId, memberId, parentId, lessonType, createTime, status, notes
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from schedule
    where scheduleId = #{scheduleid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectListByConditions" resultType="com.alibaba.fastjson.JSONObject" parameterType="hashmap">
  	SELECT a.scheduleId,c.openId,c.telNum,c.weChatNum,a.createTime,a.lessonType,a.notes,a.status,b.name as studentName,c.parentName
	FROM schedule a LEFT JOIN student b ON a.memberId=b.memberId
		LEFT JOIN parents c ON a.parentId=c.parentId
	<if test="stuName!=null">
		WHERE b.name LIKE #{stuName} 
	</if>
	<if test="telNum!=null">
		<if test="stuName!=null">
			OR c.telNum LIKE #{telNum}		
		</if>
		<if test="stuName==null">
		 	WHERE c.telNum LIKE #{telNum} 
		</if>
	</if>
	
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from schedule
    where scheduleId = #{scheduleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiaoyi.manager.domain.Schedule" >
    insert into schedule (scheduleId, teacherId, memberId, 
      parentId, lessonType, createTime, 
      status, notes)
    values (#{scheduleid,jdbcType=VARCHAR}, #{teacherid,jdbcType=VARCHAR}, #{memberid,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=VARCHAR}, #{lessontype,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{notes,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyi.manager.domain.Schedule" >
    insert into schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scheduleid != null" >
        scheduleId,
      </if>
      <if test="teacherid != null" >
        teacherId,
      </if>
      <if test="memberid != null" >
        memberId,
      </if>
      <if test="parentid != null" >
        parentId,
      </if>
      <if test="lessontype != null" >
        lessonType,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="notes != null" >
        notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scheduleid != null" >
        #{scheduleid,jdbcType=VARCHAR},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="lessontype != null" >
        #{lessontype,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.manager.domain.Schedule" >
    update schedule
    <set >
      <if test="teacherid != null" >
        teacherId = #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        memberId = #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentId = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="lessontype != null" >
        lessonType = #{lessontype,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
    </set>
    where scheduleId = #{scheduleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyi.manager.domain.Schedule" >
    update schedule
    set teacherId = #{teacherid,jdbcType=VARCHAR},
      memberId = #{memberid,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=VARCHAR},
      lessonType = #{lessontype,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      notes = #{notes,jdbcType=VARCHAR}
    where scheduleId = #{scheduleid,jdbcType=VARCHAR}
  </update>
</mapper>