<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyi.manager.dao.ITeacherLesRelationDao" >
  <resultMap id="BaseResultMap" type="com.xiaoyi.manager.domain.TeacherLesRelationKey" >
    <id column="lessonType" property="lessontype" jdbcType="INTEGER" />
    <id column="teacherId" property="teacherid" jdbcType="VARCHAR" />
    <id column="teachingId" property="teachingid" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 根据任教Id 查询老师 -->
  <select id="selectTLRelationsById" parameterType="java.util.List" resultMap="BaseResultMap">
  	SELECT *
  	FROM teacher_les_r 
  	WHERE teachingId IN 
  	<foreach collection="list" open="(" close=")" separator="," item="item">
  		#{item}
  	</foreach>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.xiaoyi.manager.domain.TeacherLesRelationKey" >
    delete from teacher_les_r
    where lessonType = #{lessontype,jdbcType=INTEGER}
      and teacherId = #{teacherid,jdbcType=VARCHAR}
      and teachingId = #{teachingid,jdbcType=VARCHAR}
  </delete>
  <insert id="insertTLRelationList" parameterType="java.util.List" >
  	insert into teacher_les_r (lessonType, teacherId, teachingId)
    	values
    	<foreach collection="list" item="item" separator=",">
	    	 (#{item.lessontype,jdbcType=INTEGER}, #{item.teacherid,jdbcType=VARCHAR}, #{item.teachingid,jdbcType=VARCHAR})    	
    	</foreach>
  </insert>
  <insert id="insert" parameterType="com.xiaoyi.manager.domain.TeacherLesRelationKey" >
    insert into teacher_les_r (lessonType, teacherId, teachingId
      )
    values (#{lessontype,jdbcType=INTEGER}, #{teacherid,jdbcType=VARCHAR}, #{teachingid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyi.manager.domain.TeacherLesRelationKey" >
    insert into teacher_les_r
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lessontype != null" >
        lessonType,
      </if>
      <if test="teacherid != null" >
        teacherId,
      </if>
      <if test="teachingid != null" >
        teachingId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lessontype != null" >
        #{lessontype,jdbcType=INTEGER},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="teachingid != null" >
        #{teachingid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>