<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyi.manager.dao.IUserOuterSyncDao" >
  <resultMap id="BaseResultMap" type="com.xiaoyi.manager.domain.UserOuterSync" >
    <id column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <id column="wx_union_id" property="wxUnionId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="wx_open_id" property="wxOpenId" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    parent_id, wx_union_id, user_id, phone, wx_open_id, avatar, nickname, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.xiaoyi.manager.domain.UserOuterSyncKey" >
    select 
    <include refid="Base_Column_List" />
    from user_outer_sync
    <where>
    	<if test="parentId!=null">
    		parent_id = #{parentId,jdbcType=VARCHAR}
    	</if>
    	<if test="wxUnionId!=null">
    		wx_union_id = #{wxUnionId,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xiaoyi.manager.domain.UserOuterSyncKey" >
    delete from user_outer_sync
    where parent_id = #{parentId,jdbcType=VARCHAR}
      and wx_union_id = #{wxUnionId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiaoyi.manager.domain.UserOuterSync" >
    insert into user_outer_sync (parent_id, wx_union_id, user_id, 
      phone, wx_open_id, avatar, 
      nickname, create_time, update_time
      )
    values (#{parentId,jdbcType=VARCHAR}, #{wxUnionId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{wxOpenId,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyi.manager.domain.UserOuterSync" >
    insert into user_outer_sync
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="wxUnionId != null" >
        wx_union_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="wxOpenId != null" >
        wx_open_id,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="wxUnionId != null" >
        #{wxUnionId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null" >
        #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE userId=#{userId}
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.manager.domain.UserOuterSync" >
    update user_outer_sync
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null" >
        wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where parent_id = #{parentId,jdbcType=VARCHAR}
      and wx_union_id = #{wxUnionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyi.manager.domain.UserOuterSync" >
    update user_outer_sync
    set user_id = #{userId,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where parent_id = #{parentId,jdbcType=VARCHAR}
      and wx_union_id = #{wxUnionId,jdbcType=VARCHAR}
  </update>
</mapper>