<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyi.manager.dao.order.IOrderManageDao">
	<!-- <resultMap id="BaseResultMap" type="com.xiaoyi.manager.domain.Teacher">
		<result column="teacherId" property="teacherid" jdbcType="VARCHAR" />
		<result column="teacherName" property="teachername" jdbcType="VARCHAR" />
		<result column="teachingId" property="teachingid" jdbcType="VARCHAR" />
	</resultMap> -->
	<sql id="Base_Column_List">
		teacherId, teacherName, teachingId
	</sql>
	
	<!-- 获取订单列表 -->
	<select id="selectOrderList" resultType="com.alibaba.fastjson.JSONObject" parameterType="hashmap">
		SELECT a.orderId,a.purchaseTime,a.lessonType,a.lessonLeftNum,a.parentId,a.totalLessonNum,a.teachingIds,b.openId,b.parentName,b.telNum,c.name as studentName
		FROM ordersum a INNER JOIN parents b ON a.parentId=b.parentId
			INNER JOIN student c ON a.memberId=c.memberId
		<where>
			<!-- 催费最小课时数 -->
			<if test="lessonLeftNum!=null">
				a.lessonLeftNum &lt; #{lessonLeftNum} 
			</if>
			<!-- 电话号码 -->
			<if test="telNum!=null">
				and b.telNum LIKE '%${telNum}%'
			</if>
			<!-- 家长姓名 -->
			<if test="parentName!=null">
				and b.parentName LIKE '%${parentName}%'
			</if>
			<!-- 学生姓名 -->	
			<if test="studentName!=null">
				and c.name LIKE  '%${studentName}%'
			</if>
			<!-- 学生、老师上门 -->
			<if test="lessonType!=null">
				 and a.teachingWay=#{lessonType}
			</if>
		</where>
	</select>
	
	<select id="selectIfHasBookByParams" resultType="com.xiaoyi.manager.domain.Orders"	
			parameterType="hashmap">
		SELECT *FROM orders 	
		<where>	
			<if test="hasBook!=null">hasBook = #{hasBook}</if>
			<if test="parentId!=null">AND parentId=#{parentId}</if>
			<if test="memberId!=null">AND memberId=#{memberId}</if>
			<if test="lessonType!=null">AND lessonType=#{lessonType}</if>
			<if test="orderId!=null">AND orderId=#{orderId}</if>
		</where>
	</select>
	
	<!-- 根据任教关系查询老师列表 -->
	<select id="selectTeachersByTeachingIds" resultType="com.alibaba.fastjson.JSONObject" parameterType="java.util.List">
		SELECT a.teachingId,a.lessonType,b.teacherName,a.teacherId,a.lessonType as courseId, b.telNumber as teacherTelNum
		FROM teacher_les_r a 
			INNER JOIN teacher b ON a.teacherId=b.teacherId
		WHERE a.teachingId IN 
		<foreach collection="list" open="(" close=")" item="item" separator=",">
			#{item}
		</foreach>	
	</select>

	<select id="selectTeachersByConditions" resultType="com.alibaba.fastjson.JSONObject"
		parameterType="hashmap">
		SELECT teacherId<!-- ,a.teachingId -->,teacherName<!-- ,a.lessonType -->
		FROM <!-- teacher_les_r a INNER JOIN --> teacher <!-- b ON a.teacherId=b.teacherId -->
		<where>
			<!-- 
			<if test="level!=null">
				a.lessonType DIV 100 = #{level}
			</if>
			年级
			<if test="gradeId!=null">
				AND (a.lessonType DIV 10) MOD 10 = #{gradeId}
			</if>
			科目
			<if test="courseId!=null">
				AND a.lessonType MOD 10 = #{courseId}
			</if> -->
			<!-- 名字 -->
			<if test="teacherName!=null">
				teacherName LIKE '%${teacherName}%'
			</if>
		</where>
	</select>
	
	<!-- 获取年级下的科目 -->
	<select id="selectCoursesByGradeId" resultType="hashmap" parameterType="java.lang.String">
		SELECT lessonType,lessonName
		FROM lessontype
		WHERE lessonType DIV 100 = #{gradeId}
	</select>
	
	<!-- 获取当月老师授课记录 -->
	<select id="selectMTeachingsByParams" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject">
		SELECT DATE_FORMAT(teachingDate,'%Y年%m月') months, SUM(teachingNum) monthOfLessons, b.feedback, b.status
		FROM teachingrecord a LEFT JOIN lessontrade b ON a.lessonTradeId=b.lessonTradeId
		WHERE a.orderId=#{orderId} AND a.teacherId=#{teacherId}
		GROUP BY months
	</select>
	
	<!-- 获取充值、结算订单 -->
	<select id="selectMOrdersByParams" resultType="com.xiaoyi.manager.domain.Orders" parameterType="hashmap">
		SELECT a.*
		FROM orders a LEFT JOIN ordersum b
			ON a.parentId=b.parentId AND a.memberId=b.memberId AND a.lessonType=b.lessonType
		WHERE 
		orderType in (0,1)
		<if test="memberId!=null">
			and a.memberId=#{memberId}
		</if>
		<if test="parentId!=null">
			and a.parentId=#{parentId}
		</if>
		<if test="lessonType!=null">
			and a.lessonType=#{lessonType}
		</if>
	</select>
	
	<!-- 查询课时不足6的记录 -->
	<select id="selectLessonShortageRecords" resultType="com.alibaba.fastjson.JSONObject" parameterType="hashmap">
		SELECT openId,lessonType,parentName,c.`name` as studentName,totalLessonNum,lessonLeftNum 
		FROM ordersum a LEFT JOIN parents b ON a.parentId = b.parentId
			LEFT JOIN student c ON a.memberId=c.memberId
		WHERE lessonLeftNum &lt;= 6 AND teachingIds IS NOT NULL
		<if test="orderIdList!=null and orderIdList.size()>0">
			AND a.orderId IN 
			<foreach collection="orderIdList" open="(" close=")" item="item" separator=",">
				#{item}
		</foreach>	
		</if>
	</select>
	
	<!-- 家长订单课时管理 -->
	<update id="updateParentOrderByOrderId" parameterType="com.alibaba.fastjson.JSONObject">
		UPDATE orders 
		SET lessonType=#{lessonType} AND purchaseNum=#{purchaseNum}
		WHERE orderId=#{orderID}
	</update>
	
	<!-- 更新家长订单总表 -->
	<update id="insertOrUpdateParentOrderSumByParams" parameterType="com.alibaba.fastjson.JSONObject">
		
	</update>
	
</mapper>