<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.manager.dao.IVideoCourseDao">
  <resultMap id="BaseResultMap" type="com.xiaoyi.manager.domain.VideoCourse">
    <id column="video_course_id" jdbcType="VARCHAR" property="videoCourseId" />
    <result column="video_course_name" jdbcType="VARCHAR" property="videoCourseName" />
    <result column="grade_id" jdbcType="SMALLINT" property="gradeId" />
    <result column="semaster" jdbcType="TINYINT" property="semaster" />
    <result column="course_id" jdbcType="SMALLINT" property="courseId" />
    <result column="video_course_type" jdbcType="TINYINT" property="videoCourseType" />
    <result column="h5_video_link" jdbcType="VARCHAR" property="h5VideoLink" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="chapter_id" jdbcType="VARCHAR" property="chapterId" />
  </resultMap>
  <sql id="Base_Column_List">
    video_course_id, video_course_name, grade_id, semaster, course_id, video_course_type, 
    h5_video_link, status, chapter_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_course
    where video_course_id = #{videoCourseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from video_course
    where video_course_id = #{videoCourseId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiaoyi.manager.domain.VideoCourse">
    insert into video_course (video_course_id, video_course_name, grade_id, 
      semaster, course_id, video_course_type, 
      h5_video_link, status, chapter_id
      )
    values (#{videoCourseId,jdbcType=VARCHAR}, #{videoCourseName,jdbcType=VARCHAR}, #{gradeId,jdbcType=SMALLINT}, 
      #{semaster,jdbcType=TINYINT}, #{courseId,jdbcType=SMALLINT}, #{videoCourseType,jdbcType=TINYINT}, 
      #{h5VideoLink,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{chapterId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyi.manager.domain.VideoCourse">
    insert into video_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="videoCourseId != null">
        video_course_id,
      </if>
      <if test="videoCourseName != null">
        video_course_name,
      </if>
      <if test="gradeId != null">
        grade_id,
      </if>
      <if test="semaster != null">
        semaster,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="videoCourseType != null">
        video_course_type,
      </if>
      <if test="h5VideoLink != null">
        h5_video_link,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="videoCourseId != null">
        #{videoCourseId,jdbcType=VARCHAR},
      </if>
      <if test="videoCourseName != null">
        #{videoCourseName,jdbcType=VARCHAR},
      </if>
      <if test="gradeId != null">
        #{gradeId,jdbcType=SMALLINT},
      </if>
      <if test="semaster != null">
        #{semaster,jdbcType=TINYINT},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=SMALLINT},
      </if>
      <if test="videoCourseType != null">
        #{videoCourseType,jdbcType=TINYINT},
      </if>
      <if test="h5VideoLink != null">
        #{h5VideoLink,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.manager.domain.VideoCourse">
    update video_course
    <set>
      <if test="videoCourseName != null">
        video_course_name = #{videoCourseName,jdbcType=VARCHAR},
      </if>
      <if test="gradeId != null">
        grade_id = #{gradeId,jdbcType=SMALLINT},
      </if>
      <if test="semaster != null">
        semaster = #{semaster,jdbcType=TINYINT},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=SMALLINT},
      </if>
      <if test="videoCourseType != null">
        video_course_type = #{videoCourseType,jdbcType=TINYINT},
      </if>
      <if test="h5VideoLink != null">
        h5_video_link = #{h5VideoLink,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="chapterId != null">
        chapter_id = #{chapterId,jdbcType=VARCHAR},
      </if>
    </set>
    where video_course_id = #{videoCourseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyi.manager.domain.VideoCourse">
    update video_course
    set video_course_name = #{videoCourseName,jdbcType=VARCHAR},
      grade_id = #{gradeId,jdbcType=SMALLINT},
      semaster = #{semaster,jdbcType=TINYINT},
      course_id = #{courseId,jdbcType=SMALLINT},
      video_course_type = #{videoCourseType,jdbcType=TINYINT},
      h5_video_link = #{h5VideoLink,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      chapter_id = #{chapterId,jdbcType=VARCHAR}
    where video_course_id = #{videoCourseId,jdbcType=VARCHAR}
  </update>
  <select id="getDaulLessonList" parameterType="hashmap" resultType="com.alibaba.fastjson.JSONObject">
  	SELECT grade_id AS gradeId,semaster AS semaster,video_course_name AS videoName,h5_video_link AS h5VideoLink FROM video_course
  	<where>
  		<if test="gradeId != null">
  			AND grade_id  = #{gradeId}
  		</if>
  		<if test="courseId != null">
  			AND course_id = #{courseId}
  		</if>
  		<if test="semaster != null">
  			AND semaster  = #{semaster}
  		</if>
  		<if test="videoCourseType != null">
  			AND video_course_type = #{videoCourseType}
  		</if>
  		<if test="name != null">
  			AND video_course_name LIKE CONCAT('%',#{name},'%')
  		</if>
  	</where>
  </select>
</mapper>