<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyi.teacher.dao.ITeacherBalanceWithdrawDao" >
  <resultMap id="BaseResultMap" type="com.xiaoyi.teacher.domain.TeacherBalanceWithdraw" >
    <id column="teacherId" property="teacherid" jdbcType="VARCHAR" />
    <result column="withdraw_id" property="withdrawId" jdbcType="VARCHAR" />
    <result column="apply_date" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="withdraw" property="withdraw" jdbcType="REAL" />
    <result column="balance_left" property="balanceLeft" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    teacherId, withdraw_id, apply_date, withdraw, balance_left
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from teacher_balance_withdraw
    where teacherId = #{teacherid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teacher_balance_withdraw
    where teacherId = #{teacherid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiaoyi.teacher.domain.TeacherBalanceWithdraw" >
    insert into teacher_balance_withdraw (teacherId, withdraw_id, apply_date, 
      withdraw, balance_left)
    values (#{teacherid,jdbcType=VARCHAR}, #{withdrawId,jdbcType=VARCHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{withdraw,jdbcType=REAL}, #{balanceLeft,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyi.teacher.domain.TeacherBalanceWithdraw" >
    insert into teacher_balance_withdraw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherid != null" >
        teacherId,
      </if>
      <if test="withdrawId != null" >
        withdraw_id,
      </if>
      <if test="applyDate != null" >
        apply_date,
      </if>
      <if test="withdraw != null" >
        withdraw,
      </if>
      <if test="balanceLeft != null" >
        balance_left,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherid != null" >
        #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="withdrawId != null" >
        #{withdrawId,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="withdraw != null" >
        #{withdraw,jdbcType=REAL},
      </if>
      <if test="balanceLeft != null" >
        #{balanceLeft,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.teacher.domain.TeacherBalanceWithdraw" >
    update teacher_balance_withdraw
    <set >
      <if test="withdrawId != null" >
        withdraw_id = #{withdrawId,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="withdraw != null" >
        withdraw = #{withdraw,jdbcType=REAL},
      </if>
      <if test="balanceLeft != null" >
        balance_left = #{balanceLeft,jdbcType=REAL},
      </if>
    </set>
    where teacherId = #{teacherid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyi.teacher.domain.TeacherBalanceWithdraw" >
    update teacher_balance_withdraw
    set withdraw_id = #{withdrawId,jdbcType=VARCHAR},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      withdraw = #{withdraw,jdbcType=REAL},
      balance_left = #{balanceLeft,jdbcType=REAL}
    where teacherId = #{teacherid,jdbcType=VARCHAR}
  </update>
</mapper>