<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyi.teacher.dao.ITeacherBalanceDailyProfitsDao" >
  <resultMap id="BaseResultMap" type="com.xiaoyi.teacher.domain.TeacherBalanceDailyProfits" >
    <id column="profit_id" property="profitId" jdbcType="VARCHAR" />
    <id column="teacherId" property="teacherid" jdbcType="VARCHAR" />
    <result column="generate_date" property="generateDate" jdbcType="TIMESTAMP" />
    <result column="balance_profit" property="balanceProfit" jdbcType="REAL" />
    <result column="profit_rate" property="profitRate" jdbcType="REAL" />
    <result column="balance_left" property="balanceLeft" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    profit_id, teacherId, generate_date, balance_profit, profit_rate, balance_left
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.xiaoyi.teacher.domain.TeacherBalanceDailyProfitsKey" >
    select 
    <include refid="Base_Column_List" />
    from teacher_balance_daily_profits
    where profit_id = #{profitId,jdbcType=VARCHAR}
      and teacherId = #{teacherid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xiaoyi.teacher.domain.TeacherBalanceDailyProfitsKey" >
    delete from teacher_balance_daily_profits
    where profit_id = #{profitId,jdbcType=VARCHAR}
      and teacherId = #{teacherid,jdbcType=VARCHAR}
  </delete>

	<!-- 批量插入老师余额日收益表 -->
	<insert id="insertTeacherDailyFrofitBatch" parameterType="java.util.List">
	insert into teacher_balance_daily_profits (profit_id, teacherId, generate_date, 
      balance_profit, profit_rate, balance_left
      )
	values 
	<foreach collection="list" item="item" separator=",">
		(#{item.profitId,jdbcType=VARCHAR}, #{item.teacherid,jdbcType=VARCHAR}, #{item.generateDate,jdbcType=TIMESTAMP}, 
      		#{item.balanceProfit,jdbcType=REAL}, #{item.profitRate,jdbcType=REAL}, #{item.balanceLeft,jdbcType=REAL}
      )
	</foreach>
	</insert>
  <insert id="insert" parameterType="com.xiaoyi.teacher.domain.TeacherBalanceDailyProfits" >
    insert into teacher_balance_daily_profits (profit_id, teacherId, generate_date, 
      balance_profit, profit_rate, balance_left
      )
    values (#{profitId,jdbcType=VARCHAR}, #{teacherid,jdbcType=VARCHAR}, #{generateDate,jdbcType=TIMESTAMP}, 
      #{balanceProfit,jdbcType=REAL}, #{profitRate,jdbcType=REAL}, #{balanceLeft,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyi.teacher.domain.TeacherBalanceDailyProfits" >
    insert into teacher_balance_daily_profits
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="profitId != null" >
        profit_id,
      </if>
      <if test="teacherid != null" >
        teacherId,
      </if>
      <if test="generateDate != null" >
        generate_date,
      </if>
      <if test="balanceProfit != null" >
        balance_profit,
      </if>
      <if test="profitRate != null" >
        profit_rate,
      </if>
      <if test="balanceLeft != null" >
        balance_left,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="profitId != null" >
        #{profitId,jdbcType=VARCHAR},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="generateDate != null" >
        #{generateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="balanceProfit != null" >
        #{balanceProfit,jdbcType=REAL},
      </if>
      <if test="profitRate != null" >
        #{profitRate,jdbcType=REAL},
      </if>
      <if test="balanceLeft != null" >
        #{balanceLeft,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.teacher.domain.TeacherBalanceDailyProfits" >
    update teacher_balance_daily_profits
    <set >
      <if test="generateDate != null" >
        generate_date = #{generateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="balanceProfit != null" >
        balance_profit = #{balanceProfit,jdbcType=REAL},
      </if>
      <if test="profitRate != null" >
        profit_rate = #{profitRate,jdbcType=REAL},
      </if>
      <if test="balanceLeft != null" >
        balance_left = #{balanceLeft,jdbcType=REAL},
      </if>
    </set>
    where profit_id = #{profitId,jdbcType=VARCHAR}
      and teacherId = #{teacherid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyi.teacher.domain.TeacherBalanceDailyProfits" >
    update teacher_balance_daily_profits
    set generate_date = #{generateDate,jdbcType=TIMESTAMP},
      balance_profit = #{balanceProfit,jdbcType=REAL},
      profit_rate = #{profitRate,jdbcType=REAL},
      balance_left = #{balanceLeft,jdbcType=REAL}
    where profit_id = #{profitId,jdbcType=VARCHAR}
      and teacherId = #{teacherid,jdbcType=VARCHAR}
  </update>
</mapper>